<div class="table-container">
	<div class="table-scroller">
		<table class="table table-bordered table-hover dataTable">
			<thead>
				<tr>
					<th>{{ "Assembly" | trans }}</th>
					<th>{{ "State" | trans }}</th>
					<th>{{ "Passed" | trans }}</th>
					<th>{{ "Skiped" | trans }}</th>
					<th>{{ "Failed" | trans }}</th>
					<th>{{ "ErrorMessage" | trans }}</th>
					<th>{{ "DebugMessage" | trans }}</th>
					<th><a class="btn btn-primary">{{ "StartAll" | trans }}</a></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>