<div class="product-rating-history" data-toggle="append-tabs" data-target=".product-details-tabs">
	<ul class="nav nav-tabs">
		<li>
			<a href="#tab_product_rating" data-toggle="tab">{{ "ProductRating" | trans }}</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="tab_product_rating" class="tab-pane">
			<div class="contents">
				<div class="ajax-table"
					 ajax-table-target="/api/product_rating/search"
					 ajax-table-template=""
					 ajax-table-extra-options='{ "delayRefresh": true, "conditions": { "id": "{{ "" | url_get_param: "id" }}" } }'>
				</div>
			</div>
		</div>
	</div>
</div>
