{% fetch /api/article/info?id={id} > article_info %}
{% use_title article_info.title -%}
{% include_css_later "/static/cms.article.css/article-view.css" -%}
{% include common.base/header.html %}
<div class="page-container article-page-container screen-center-block">
	{% unless article_info %}
	<div class="text-center-row">
		{{ "The article you are visiting does not exist." | trans }}
	</div>
	{% else %}
	<div class="article-view">
		<div class="article-view-leftbar pull-left">
			{% area article_view_leftbar %}
		</div>
		<div class="article-contents-row">
			{% area article_contents %}
		</div>
		<div class="article-view-rightbar pull-right">
			{% area article_view_rightbar %}
		</div>
	</div>
	{% endunless %}
</div>
{% include common.base/footer.html %}
