{% fetch /api/product/info?id={id} > product_info -%}
{% use_title product_info.name -%}
{% use_meta_keywords product_info.keywords -%}
{% use_meta_description product_info.name -%}
{% include_css_later "/static/shopping.product.css/product-view.css" -%}
{% include_js_later "/static/shopping.product.js/product-view.min.js" -%}
{% include common.base/header.html %}
<div class="screen-center-block">
	{% unless product_info %}
	<div class="text-center-row">
		{{ "The product you are visiting does not exist." | trans }}
	</div>
	{% else %}
	<div class="product-view">
		<div class="product-summary-row">
			{% area product_gallery %}
			{% area product_sales_info %}
			<div class="clearfix"></div>
		</div>
		<div class="product-details-row">
			<div class="product-details-left pull-left">
				{% area product_details_left %}
			</div>
			<div class="product-details">
				{% area product_details_header %}
				{% area product_details %}
				{% area product_details_footer %}
			</div>
			<div class="product-details-right pull-right">
				{% area product_details_right %}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	{% endunless %}
</div>
{% include common.base/footer.html %}
