<div class="form-group">
	<label class="control-label">{{ property.Name | trans }}</label>
	<div class="form-controls">
		<div class="advance-select" data-toggle="advance-select"
			 data-property-type="editable-dropdown-list" data-property-id="{{ property.Id }}">
			<div class="input-group dropdown-toggle" data-toggle="dropdown">
				<input class="form-control option-text-editable" type="text" />
				<span class="input-group-btn">
					<button class="btn btn-default"><span class="caret"></span></button>
				</span>
			</div>
			<div class="dropdown-menu">
				<select class="form-control" size="5">
					{% for value in propertyValues %}
					<option value="{{ value.Id }}">
						{{ value.Name }}
					</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
</div>