<input name="{{ name }}" type="hidden" class="form-control" value="{{ value }}" {{ attributes | html_attributes }} />
<div class="product-matched-data-editor translation table-scroller"
	 data-toggle="product-matched-data-editor"
	 data-category-id-name="{{ categoryFieldName }}"
	 data-matched-datas-name="{{ name }}"
	 data-table-class="table table-bordered table-hover table-editable table-editable-always-keep-last-row"
	 data-table-header-class="heading"
	 data-translations="{{ translations }}"></div>
