{% use_title "About Website" -%}
{% include_js_later "/static/common.admin.js/about_me.min.js" -%}
{% include common.admin/header.html %}
<div class="portlet-title">
	<div class="caption">
		<i class="fa fa-cubes"></i>
		<span class="caption-subject">{{ "About Website" | trans }}</span>
	</div>
</div>
<div class="portlet-body">
	<h4>{{ "Website Name" | trans }}: {{ websiteName | trans }}</h4>
	<h4>{{ "Default Language" | trans }}: {{ defaultLanguage | trans }}</h4>
	<h4>{{ "Default Timezone" | trans }}: {{ defaultTimezone | trans }}</h4>
	<h4>{{ "Server Username" | trans }}: {{ serverUsername }}</h4>
	<h4>{{ "ZKWeb Version" | trans }}: {{ zkwebVersion }}</h4>
	<h4>{{ "ZKWeb Full Version" | trans }}: {{ zkwebFullVersion }}</h4>
	<h4>{{ "Memory Usage" | trans }}: {{ memoryUsage }} MB</h4>
	<h4>{{ "Plugin List" | trans }}: </h4>
	<div>{{ pluginInfoTable }}</div>
</div>
{% include common.admin/footer.html %}
