<!DOCTYPE html>
<html lang="{% html_lang %}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta charset="utf-8" />
	<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
	<title>{{ "Admin Login" | website_title }}</title>
	<link href="/static/common.base.css/components.css" rel="stylesheet" type="text/css" />
	<link href="/static/common.admin.css/components.css" rel="stylesheet" type="text/css" />
	<link href="/static/common.admin.css/admin-login.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="login">
		<div class="logo"><a><img src="/static/common.admin.images/logo.png" alt=""></a></div>
		<div class="content">
			<h3 class="form-title">{{ "Admin Login" | trans }}</h3>
			<p class="text-danger">{{ warning }}</p>
			{{ form }}
			<div class="create-account">
				<p><a href="/user/reg" id="register-btn" class="uppercase">{{ "Register new user" | trans }}</a></p>
			</div>
		</div>
	</div>
	<input id="RedirectAfterLogin" name="RedirectAfterLogin" type="hidden" value="/admin" />
	<footer>
		<script src="/static/common.base.js/components.min.js" type="text/javascript"></script>
		<script src="/static/common.admin.js/components.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(function () {
				$("input[name=Username]").parent().addClass("input-icon").prepend("<i class='fa fa-user'></i>");
				$("input[name=Password]").parent().addClass("input-icon").prepend("<i class='fa fa-lock'></i>");
				$("input[name=Captcha]").parent().addClass("input-icon").prepend("<i class='fa fa-check'></i>");
				$("input[name=RememberLogin]").closest(".form-group").addClass("rememberLogin").appendTo(".form-actions");
				$("[name=AdminLoginForm]").on("success", function () {
					var url = $(this).find("[name=RedirectAfterLogin]").val();
					location.href = url;
				});
			});
		</script>
	</footer>
</body>
</html>
