/* 设置html和body的高度等于100%*/
html, body {
	height: 100%;
}

/* 支持在大分辨率时居中 */
.screen-center-block {
	max-width: 1200px;
	margin: auto !important;
}

/*验证码图片*/
.input-group {
	.input-group-addon {
		padding: 0px 4px;
	}

	.captcha {
		height: 30px;
	}
}

/*验证信息显示*/
.input-validation-error {
	border-color: #f3565d;
}

.valid {
	border-color: green;
}

.field-validation-error {
	margin-top: 5px;
	color: #f3565d;
	display: block;
}

/* 必填项 */
.form-group label em {
	color: red;
	font-style: normal;
}

/* 表单样式 */
.form-horizontal {
	margin: 0px 15px;
}

/* 表单控件样式 */
.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
	/* 字段名称 */
	label.control-label {
		padding: 7px 12px 0px 0px;
		margin: 0px 0px 5px 0px;
		text-align: right;
		margin-top: 1px;
		word-break: break-all; /* 设置自动换行 可分割单词 */
	}
	/* 只读文本 */
	label.form-control {
		border: none;
	}
	/* 单选 */
	.radio-list > label.radio-inline:first-child {
		padding-left: 20px;
	}
	/* 多选 */
	input[type='checkbox'] {
		width: auto;
	}
	/* 多选组 */
	.checkbox-list > label.checkbox-inline:first-child {
		padding-left: 20px;
	}

	.checkbox-list > label {
		cursor: pointer;
	}

	.checkbox-group {
		> .checkbox-group, > .checkbox-list {
			padding-left: 20px;
		}
	}
	/* 文件上传 */
	.file-uploader {
		margin-top: 5px;

		input[type="file"] {
			float: left;
		}

		.checkbox-inline {
			padding-top: 0px;
			margin: -5px 0px 0px 5px;
		}
	}
	/* 缩略图 */
	img.form-control {
		height: auto;
		max-width: 200px;
	}
	/* 向右对齐的按纽 */
	.col-md-offset-9.col-md-3 > .btn,
	.col-md-offset-10.col-md-2 > .btn,
	.col-md-offset-11.col-md-1 > .btn {
		float: right;
	}
	/* 文本和控件 */
	@media (min-width: 992px) {
		/* 相当于col-md-2 */
		.control-label {
			float: left;
			width: 16.66666667%;
		}
		/* 相当于col-md-10 */
		.form-controls {
			float: left;
			width: 83.33333333%;
		}
	}
}

/* 表单提交按钮 */
.form-horizontal .form-actions {
	.btn-submit {
		color: #FFF;
		background-color: #35AA47;
	}

	@media (min-width: 992px) {
		/* 相当于col-md-offset-2 */
		.btn-submit {
			margin-left: 16.66666667%;
		}
	}
}

/* 表单提交中样式 */
.form-horizontal.loading button[type='submit'] {
	background: grey;
	pointer-events: none;
}

/* 表单字体大小 */
.form-control, .control-label, label, .label, .btn {
	font-size: $font-size-normal;
}

/* 表格载入中样式 */
.ajax-table.loading {
	background: #FFF url('../common.base.images/ajax-loading.gif') no-repeat scroll center center;
	min-height: 300px;

	> * {
		display: none;
	}
}

/* 表格样式 */
.table {
	/* 选中行样式 */
	tr.selected {
		background-color: #4B8DF8 !important;
		color: #FFF;
	}
	/* 表格头部不使用底边框 */
	&.table-striped > thead > tr > th {
		border-bottom: none;
	}
	/* 表格标题栏字体大小 */
	> thead > tr > th {
		font-size: $font-size-normal;
	}
}

/* 表格树样式 */
.table-tree-container {
	.pagination-panel {
		display: none;
	}

	.treenode {
		cursor: pointer;

		> i {
			padding-right: 5px;

			&:before {
				content: "\f078";
			}
		}
	}

	.collapsed > td > .treenode > i:before {
		content: "\f054";
	}

	.treenode.no-childs > i:before {
		content: "\f068";
	}

	.collapsed > td > .treenode.no-childs > i:before {
		content: "\f068";
	}
}

/* 要求横向滚动的表格 */
.table-scroller {
	overflow-x: auto;
	/* 让absolute的弹出菜单最少能显示一点，无其他解决办法了，参考
		http://stackoverflow.com/questions/4605715/position-absolute-and-overflow-hidden
		http://stackoverflow.com/questions/5072467/why-does-overflow-yhidden-affect-the-visibility-of-items-overflowing-on-the-x */
	min-height: 200px;

	> table {
		min-width: 768px;
	}
}

/* 表格分页控件 */
.pagination-panel {
	.pagination-panel-input {
		display: inline-block;
		vertical-align: middle;
		width: 45px !important;
		text-align: center;
		margin: 0 5px;
	}
}

/* 弹出消息样式，换行和显示在最顶层 */
.jq-toast-single {
	word-break: break-all;
}

.jq-toast-wrap {
	z-index: 11000;
}

/* 修复使用全屏功能时backdrop的优先度比模态框的优先度要高的问题 */
.page-portlet-fullscreen .modal .modal-dialog {
	z-index: $zindex-modal + 11;
}

/* 界面板块的样式 */
.portlet.light {
	> .portlet-title > .caption {
		> i {
			color: #4DB3A2 !important;
		}

		> .caption-subject {
			font-size: 14px;
			color: #4DB3A2 !important;
			text-transform: uppercase !important;
			font-weight: bold !important;
		}
	}

	> .portlet-title > .btn {
		margin: 5px 0px 0px 5px;
	}
}

/* 工作区的样式 */
.workspace {
	border: 1px solid #eee;
	border-radius: 4px;
	overflow-x: hidden;
	margin: 0px 0px 15px 0px;

	.portlet-body {
		overflow-x: auto;
		overflow-y: auto;
	}
}

/* 激活的菜单项 */
.dropdown-menu li > .active {
	color: #5B9BD1 !important;

	i {
		color: #5B9BD1 !important;
	}
}

/* 支持全屏的模态框，注意使用这个类后将不支持bootstrap-dialog的动态切换大小 */
.bootstrap-dialog.size-fullscreen {
	padding-left: 0px !important;

	.modal-dialog {
		margin: 0px;
		width: 100%;
		height: 100%;

		.modal-content {
			min-height: 100%;
		}
	}
}

/* 模态框载入远程内容时的样式 */
.bootstrap-dialog-message .remote-contents.loading {
	background: #FFF url('../common.base.images/ajax-loading.gif') no-repeat scroll center center;
	min-height: 300px;
}

/* 面板内容中的元素样式 */
.panel-content {
	/* 标签栏无上左右边距 */
	.tabbable-line {
		padding: 0px 0px 15px;
	}
	/* 工作区无边框和下边距 */
	.workspace {
		border: none;

		.portlet {
			margin-bottom: 0px;
		}
	}
}

/* 标签栏中的按钮 */
.nav.nav-tabs {
	li.buttons {
		float: right;
		margin-top: 3px;
		margin-right: 5px;

		&:hover, &:focus {
			border-bottom: none;
		}
	}
}

/* 标签栏的字体大小 */
.nav-tabs > li > a {
	font-size: $font-size-normal;
}

/* 包含可滚动内容的表单控件 */
.form-control-scrollable {
	position: relative;
	height: 150px;
	overflow-y: scroll;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	padding: 3px 12px;
}

/* 高级下拉框的样式 */
.advance-select {
	.btn.dropdown-toggle {
		width: 100%;
		text-align: left;

		.option-text {
			margin-right: 5px;
			float: left;
		}

		.caret {
			float: right;
			margin-top: 7px;
		}
	}

	.dropdown-menu {
		margin: 0px 15px;
		width: 95%;

		.keyword {
			border-color: #E5E5E5;
			border-radius: 4px 4px 0px 0px;
		}

		select {
			border-color: #E5E5E5;
			margin-top: -1px;
			border-radius: 0px 0px 4px 4px;
		}
	}
}

/* 顶部栏的样式 */
.top-navbar {
	background-color: #f7f7f7;
	line-height: 28px;
	height: 28px;
	border-top: 1px solid #eee;
	margin-bottom: 15px;
	box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 2px #dfdfdf, 0px 0px 5px 3px #f0f0f0;
	/* 右侧菜单的样式 */
	.nav.pull-right > .diy_area {
		.diy_widget {
			float: left;
			padding: 0px 5px;
		}
	}
	/* 链接的样式 */
	a {
		color: #666;
		background-color: transparent;
		/* 选中时改变颜色和添加下划线 */
		&:hover, &:focus {
			color: #C40000;
			text-decoration: underline;
		}
	}
}

/* 下拉菜单样式 */
.dropdown-menu {
	font-size: $font-size-normal;
	/* 菜单项高度 */
	li > a {
		line-height: 12px;
	}
	/* 分割线高度 */
	.divider {
		margin: 7px 0px;
	}
}

/* 高级搜索样式 */
.advanced-search {
	.form-horizontal {
		padding: 12px 0px 0px;

		.form-group {
			/* 文本和控件 */
			@media (min-width: 992px) {
				/* 相当于col-md-4 */
				.control-label {
					float: left;
					width: 33.33333333%;
				}
				/* 相当于col-md-8 */
				.form-controls {
					float: left;
					width: 66.66666667%;
				}
			}
		}
	}

	.form-actions {
		min-width: 280px;
		padding-right: 20px !important;

		.btn {
			float: right;
		}
	}
}

/* 搜索按钮的对齐 */
.actions .btn {
	padding: 7px 13px 8px;
}

/* 修改text-default的字体颜色，原来的太灰 */
.text-default {
	color: #666;
}

/* 弹出框中默认的字体大小 */
.bootstrap-dialog {
	.bootstrap-dialog-message {
		font-size: $font-size-normal;
	}

	.bootstrap-dialog-title {
		font-size: 14px;
	}
}

/* 顶部Logo栏的样式 */
.top-logobar {
	height: 90px;

	.logo {
		float: left;

		img {
			height: 75px;
		}
	}
}

/* 顶部菜单栏的样式 */
.top-menubar {
	height: 42px;
	line-height: 42px;
	background-color: #E4393C;
	/* 菜单的样式 */
	.nav {
		float: left;
	}

	.nav > li {
		float: left;
		/* 链接的样式 */
		> a {
			padding: 0px 15px;
			font-size: 14px;
			color: #FFF;

			&:hover, &:focus {
				background-color: #C40000;
			}
		}
	}
}

/* 底部栏的样式 */
.page-bottom {
	margin-top: 20px;
	/* 底部版权信息栏的样式 */
	.copyright-bar {
		line-height: 24px;
		padding: 4px 0px;
	}
}

/* 数字文本框的样式 */
.number-input {
	.up-down {
		display: inline-block;
		margin-left: -1px;

		.up, .down {
			display: block;
			font-size: 8px;
			padding: 1px 14px;

			i {
				font-size: 8px;
			}
		}
	}
}

/* 数字文本框的样式 小型的样式 一般用在表格中的数量编辑框 */
.number-input.number-input-sm {
	.number {
		float: left;
		border: 1px solid #BEBEBE;
		width: 50px;
		height: 37px;
		padding: 0px 5px;
	}

	.input-group-btn {
		float: left;
		margin-left: 5px;

		.up {
			margin-bottom: 3px;
		}

		.up, .down {
			border: 1px solid #BEBEBE;
			border-radius: 0px;
		}
	}
}

/* 上下留空的文本行 */
.text-center-row {
	text-align: center;
	margin: 30px 0px;
}

/* 提醒信息中的多行显示 */
.alert {
	> pre {
		margin: 0px;
		padding: 0px;
		background: none;
		border: none;
		font-size: 12px;
	}

	&.alert-info > pre {
		color: #31708F;
	}

	&.alert-warning > pre {
		color: #8A6D3B;
	}

	&.alert-danger > pre {
		color: #A94442;
	}

	&.alert-success > pre {
		color: #3C763D;
	}
}

/* ios上的输入框使用自定义样式 */
input[type="text"], input[type="password"], select, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* 设置低分辨率时表单的提交按钮宽度100% */
@media (max-width: 992px) {
	.form-actions .btn[type='submit'] {
		width: 100%;
	}
}

/* 使用当前主题的面板样式 */
.panel.panel-themed {
	margin: 10px 0px 0px;
	border: 3px solid #E4393C;
	border-radius: 3px;

	.panel-heading {
		background: #E4393C none repeat scroll 0% 0%;
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding: 0px 0px 0px 10px;
		color: #FFF;
		border: none;
		border-radius: 0px;
		text-align: left;
	}
}

/* 使用当前主题的弹出框样式 */
.dialog.dialog-themed {
	border: 1px solid #E4393C;
	border-radius: 2px;
	background-color: #fff;

	.title {
		height: 28px;
		line-height: 28px;
		text-align: right;
		background-color: #E4393C;

		> a {
			color: #FFF;
			text-decoration: none;
			margin-right: 10px;
		}
	}

	.contents {
		color: #666;
	}
}

/* 使用当前主题的按钮样式 */
.btn.btn-themed {
	background-color: #C40000;
	color: #FFF;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
	padding: 0px;
}

/* 工具栏按钮组换行时的上边距 */
.btn-toolbar {
	margin-top: -5px;

	.btn {
		margin-top: 5px;
	}
}

/* 实体摘要，由图片和名称和描述组成，可显示用户和商品等信息 */
dl.entity-summary {
	text-align: left;
	margin: 0px;

	> dt {
		float: left;

		img {
			width: 48px;
			height: 48px;
		}
	}

	> dd {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		margin: 0px 0px 0px 56px;
	}

	.name {
		line-height: 24px;
	}

	.description {
		color: #666;
	}
}

/* 页面内容的标题 */
.body-title {
	font-size: 25px;
	border-bottom: 1px solid rgb(0, 0, 0);
	padding-bottom: 8px;
	margin: 15px;

	> i {
		font-size: 25px;
	}
}
