<input name="{{ name }}" type="hidden" class="form-control" value="{{ value }}" {{ attributes | html_attributes }} />
<div class="logistics-price-rules-editor table-scroller"
	 data-toggle="logistics-price-rules-editor"
	 data-price-rules-name="{{ name }}"
	 data-table-class="table table-bordered table-hover table-editable table-editable-always-keep-last-row"
	 data-table-header-class="heading"
	 data-display-country-dropdown="{{ displayCountryDropdown }}"
	 data-currency-list-items="{{ currencyListItems }}"
	 data-default-price-rule="{{ defaultPriceRule }}"
	 data-translations="{{ translations }}"></div>
