/* 商品搜索栏的样式 */
.product-search-bar {
	margin: 8px 0px 0px 120px;

	.keyword {
		width: 410px;
		line-height: 38px;
		height: 38px;
		padding: 0px 5px;
		border: 3px solid #E4393C;
	}

	.submit {
		border: 3px solid #E4393C;
		height: 38px;
		background-color: #E4393C;
		color: #fff;
		font-size: 14px;
		margin: -5px;
	}

	.tags {
		margin: 4px 0px 0px 0px;
	}
}
