/* 商品列表页的样式 */

/* 过滤器样式 */
.product-list-filter-row {
	margin-top: 5px;
	/* 导航组 */
	.nav-group {
		border: 1px solid #E8E8E8;
		margin: 8px 8px;

		> ul {
			padding: 0px;
			margin: 0px;

			> li {
				list-style: none;
				border-top: 1px dashed #DEDEDE;
			}
		}
		/* 首行不显示上边框 */
		&:first-child > ul > li:first-child {
			border-top: none;
		}
		/* 单行过滤条件 */
		dl {
			margin: 0px;

			> dt {
				float: left;
				min-width: 100px;
				line-height: 32px;

				> a {
					color: #333;
					padding: 4px 8px;
					font-weight: bold;

					&:hover, &:active {
						text-decoration: none;
					}
				}
			}

			> dd {
				line-height: 32px;
				margin-left: 100px;

				> a {
					color: #666;
					padding: 4px 8px;
					margin: 0px 8px 0px 0px;

					&:hover, &:active {
						color: #fff;
						background-color: #E4393C;
						text-decoration: none;
					}
				}
			}
		}
		/* 选中的过滤条件 */
		a.selected {
			border: 2px solid #C00 !important;

			> i {
				margin: 0px 0px 0px 4px;
				color: #C00;
			}

			&:hover > i, &:active > i {
				color: #fff;
			}
		}
	}
	/* 排序和价格导航栏 */
	.product-filter-by-price-and-order.nav-group {
		.nav {
			line-height: 38px;
			background-color: #F5F5F5;
			padding: 0px 8px;

			> a {
				color: #000;
				background-color: #fff;
				border: 1px solid #cecece;
				padding: 4px 8px;
				margin: 0px 8px 0px 0px;

				&:hover, &:active {
					color: #fff;
					border: none;
					background-color: #E4393C;
					text-decoration: none;
				}
			}

			> input {
				display: inline-block;
				width: 50px;
				height: 24px;
				text-align: center;
				padding: 0px;

				&.price-lower-bound {
					margin: 0px 0px 0px 4px;
				}

				&.price-upper-bound {
					margin: 0px 4px 0px 0px;
				}
			}
		}
	}
}

/* 商品表格样式 */
.product-list-table-row {
	.product-list-table {
		margin: 8px;

		.product-cell {
			width: 288px;
			margin: 4px;
			border: 1px solid #d5d5d5;
			border-radius: 4px;
			display: inline;
			float: left;

			> dl {
				margin: 0px 0px 4px 0px;
			}

			.main-album img {
				width: 286px;
				height: 286px;
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}

			.product-price {
				color: #F40;
				font-weight: bold;
				font-size: 14px;
				line-height: 18px;
				height: 18px;
				overflow: hidden;
				text-overflow: ellipsis;
				margin: 0px 4px;
			}

			.product-name {
				height: 32px;
				overflow: hidden;
				text-overflow: ellipsis;
				margin: 0px 4px;

				> a {
					color: #666;

					&:active, &:hover {
						color: #F40;
					}
				}
			}
		}
	}

	.product-list-table-pagination {
		margin: 0px 12px;

		.pagination {
			float: right;
		}
	}
}
