/* 商品主图相册的样式 */
.product-album-uploader {
	max-width: 150px;
	float: left;
	margin-right: 20px;
	overflow-x: hidden;

	img {
		display: block;
		width: 150px;
		height: 150px;
	}

	label.radio {
		width: 100%;
		text-align: center;
	}

	.file-uploader {
		padding: 0px;
	}
}

/* 商品属性编辑器的样式 */
.product-property-editor {
	/* 别名编辑器 */
	.property-value-alias {
		.alias-editor {
			max-width: 100px;
			border: 1px solid #E5E5E5;
			display: none;
		}

		.alias-edit-btn {
			cursor: text;
		}
		/* 编辑时的样式 */
		&.editing {
			.alias-editor {
				display: inline;
			}

			.alias-text {
				display: none;
			}
		}
	}
}

/* 商品匹配数据编辑器的样式 */
.product-matched-data-editor {
	/* 操作按钮 */
	.actions {
		float: right;

		.btn-xs {
			margin-right: 3px;

			&.disabled {
				background-color: grey;
			}
		}
	}
	/* 操作按钮的禁用 */
	table > tbody {
		/* 第一行禁用向上按钮 */
		/* 最后一行是默认条件，隐藏下拉编辑框和禁用所有操作按钮 */
		/* 最后一行的上一行禁用向下按钮 */
		tr:first-child .actions .up-data,
		tr:last-child .actions .up-data,
		tr:last-child .actions .down-data,
		tr:last-child .actions .remove-data,
		tr:nth-last-child(2) .actions .down-data {
			background-color: grey;
			pointer-events: none;
			cursor: not-allowed;
		}
	}
	/* 条件编辑按钮 */
	.condition-cell .btn-group a {
		margin-left: 5px;
	}
	/* 条件标记下拉表单 */
	.condition-cell .dropdown-menu {
		width: 280px;
	}
}
