/* 迷你购物车的样式 */

/* 迷你购物单菜单 */
.minicart-menu {
	/* 商品总件数 */
	a > em {
		color: #e4393c;
		font-style: normal;
	}
	/* 下拉内容 */
	.dropdown-menu {
		width: 300px;
		box-shadow: 0px 0px 0px 1px #FFF, 0px 0px 0px 2px #DFDFDF, 0px 0px 5px 3px #F0F0F0;
		border: medium none;
		border-radius: 0px;
		/* 从远程载入内容中时的样式 */
		.loading {
			background: #FFF url('/static/common.base.images/ajax-loading.gif') no-repeat scroll center center;
			min-height: 70px;
		}
	}
}

/* 迷你购物车的内容 */
.minicart-contents {
	padding: 0px 12px;
	color: #666;
	/* 标题 最近加入购物车*/
	.minicart-title {
		height: 34px;
		line-height: 34px;
		color: #666;
		border-bottom: 1px solid #eee;
	}
	/* 商品列表 */
	.minicart-products {
		padding: 5px 0px;
		border-bottom: 1px solid #eee;
		overflow-y: auto;
		max-height: 235px;
	}
	/* 商品 */
	.minicart-product {
		height: 40px;
		margin: 5px 0px;
	}
	/* 商品缩略图 */
	.minicart-product-image img {
		width: 40px;
		height: 40px;
		float: left;
	}
	/* 商品描述 */
	.minicart-product-description {
		margin: 0px 5px 0px 45px;
		overflow-y: hidden;
		/* 商品价格 */
		.price {
			color: #B60707;
			font-size: 14px;
		}
		/* 价格和删除链接 */
		.minicart-product-actions {
			float: right;
			text-align: right;

			a {
				color: #005ea7;
			}
		}
		/* 名称和匹配参数描述 */
		.order-product-name, .order-product-description {
			white-space: nowrap;
			overflow-x: hidden;
			text-overflow: ellipsis;
		}
	}
	/* 总件数和总价和跳转到购物车的按钮 */
	.minicart-summary {
		margin: 6px 0px;
		/* 总件数和总价的样式 */
		.summary {
			float: left;

			em {
				color: #B60707;
				font-size: 14px;
				font-style: normal;
			}
		}
		/* 跳转到购物车的按钮 */
		.btn-goto-cart {
			float: right;
			width: 100px;
			height: 32px;
			line-height: 32px;
			color: #fff;

			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}
