/* 订单列表页的样式 */

/* 订单列表 */
.order-table-container {
	/* 头部文本居中 */
	tr.heading > th {
		text-align: center;
	}
	/* 订单头部行的样式，每个订单在表格中都会占两行，一行是头部一行是具体的内容 */
	.order-row-heading {
		> td {
			background-color: #fbfbfb;
			padding: 6px 8px 0px 8px;
		}
		/* 选中时的颜色 */
		&.selected > td {
			background-color: #4B8DF8;
		}
	}
	/* 订单内容行的样式 */
	.order-row-body {
		/* 单元格文本居中 */
		> td {
			text-align: center;
			/* 操作按钮 */
			.btn {
				float: none;
				display: block;
				padding: 1px 5px;
			}
		}
		/* 选中时的颜色 */
		&.selected dl.entity-summary .description {
			color: #eee;
		}

		&.selected .order-total-cost .parts-cost {
			color: #eee;
		}
	}
	/* 订单商品信息区域的样式，为了对齐需要固定高度*/
	.order-product-block {
		margin: 8px 0px 0px 0px;
		height: 48px;
		overflow: hidden;
		max-width: 300px;

		&:first-child {
			/* 第一行无上边距 */
			margin: 0px 0px 0px 0px;
		}
	}
	/* 订单商品单价 */
	.order-product-price {
		line-height: 24px;
		/* 订单商品原价 */
		&.original-price {
			line-height: 12px;
			text-decoration: line-through;
			color: #999;
		}
	}
	/* 订单商品订购数量和已发数量 */
	.order-product-order-count, .order-product-shipped-count {
		line-height: 24px;
	}
	/* 订单总价 */
	.order-total-cost {
		font-weight: bold;
		color: red;

		.parts-cost {
			color: #666;
		}

		.original-total-cost {
			color: #999;
			text-decoration: line-through;
		}
	}
}

/* 备注旗帜 */
.order-remark-flags {
	&[color="gray"] {
		color: gray;
	}

	&[color="red"] {
		color: red;
	}

	&[color="yellow"] {
		color: yellow;
	}

	&[color="green"] {
		color: green;
	}

	&[color="blue"] {
		color: blue;
	}

	&[color="purple"] {
		color: purple;
	}
}

/* 订单操作模态框 */
.order-action-modal {
	form .form-actions {
		text-align: right;
	}
}
