/* 订单详情页的样式 */

/* 订单详情页的面板 */
.order-view-panel {
	.panel-heading {
		.tool-buttons {
			float: right;
		}
	}
}

/* 订单信息 */
.order-overview {
	display: flex;
	/* 详细信息 */
	.order-details {
		float: left;
		width: 290px;
		/* 内容 */
		.panel-body {
			padding: 5px 0px;

			> dl {
				line-height: 25px;
				color: #666;
				clear: both;
				margin: 0px;

				> dt {
					float: left;
					text-align: right;
					width: 80px;
					padding: 4px 4px 4px 0px;
				}

				> dd {
					float: left;
					width: 190px;
					padding: 4px 0px;

					.more {
						float: right;
					}
				}
			}
		}
	}
	/* 订单状态和操作按钮列表 */
	.order-state-and-actions {
		flex: 1 0 auto;
		float: left;
		padding: 0px 0px 0px 20px;
		/* 操作按钮列表 */
		.order-actions {
			margin: 0px 8px 0px 8px;

			.action {
				float: left;
				margin: 0px 8px 8px 0px;
			}
		}
	}
}

/* 低分辨率时的样式 */
@media (max-width: 768px) {
	.order-overview {
		display: block;

		.order-details, .order-state-and-actions {
			padding-left: 0px;
			width: 100%;
		}
	}
}

/* 商品表格 */
.order-product-table {
	/* 订单商品单价 */
	.order-product-price {
		line-height: 24px;
		/* 订单商品原价 */
		&.original-price {
			line-height: 12px;
			text-decoration: line-through;
			color: #999;
		}
	}
	/* 订单商品订购数量和已发数量 */
	.order-product-order-count, .order-product-order-count {
		line-height: 24px;
		font-size: 14px;
	}
}

/* 订单金额详情 */
.order-cost-details {
	float: right;

	> dl {
		> dt {
			float: left;
			text-align: right;
			width: 130px;
			padding: 4px 4px 4px 0px;
		}

		> dd {
			float: left;
			text-align: right;
			width: 80px;
			padding: 4px 0px;
		}
	}
	/* 订单总价 */
	.total-cost {
		font-size: 16px;

		> dd {
			font-weight: bold;
			color: #F13E46;
		}
	}
	/* 订单原价 */
	.original-total-cost {
		color: #999;

		> dd {
			text-decoration: line-through;
			font-size: 14px;
			margin-top: -2px;
			font-weight: bold;
		}
	}
}

/* 备注旗帜 */
.form-horizontal {
	.radio-inline[child-name="RemarkFlags"] {
		&:after {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f024";
		}

		&[child-value="0"]:after {
			color: gray;
		}

		&[child-value="1"]:after {
			color: red;
		}

		&[child-value="2"]:after {
			color: yellow;
		}

		&[child-value="3"]:after {
			color: green;
		}

		&[child-value="4"]:after {
			color: blue;
		}

		&[child-value="5"]:after {
			color: purple;
		}
	}
}
