/* 商品购买按钮 */
.product-purchase-buttons {
	clear: both;
	padding: 12px 0px 0px 32px;

	.product-purchase-form .btn {
		height: 40px;
		width: 180px;
		display: block;
		float: left;
		text-decoration: none;
		line-height: 40px;
		font-size: 16px;
		text-align: center;
		margin: 10px 10px 0px 0px;
		padding: 0px;
		border-radius: 0px;

		> i {
			font-size: 16px;
			margin-right: 5px;
		}

		&.btn-buynow {
			background-color: #ffeded;
			border: 1px solid #c40000;
			color: #c40000;
		}

		&.btn-add-to-cart {
			background-color: #c40000;
			border: 1px solid #c40000;
			color: #FFF;
		}
	}
	/* 提交时样式 */
	.product-purchase-form.loading, .product-purchase-form.unbuyable {
		.btn.btn-buynow, .btn.btn-add-to-cart {
			background-color: #808080;
			color: #FFF;
			border: 1px solid #808080;
			pointer-events: none;
		}
	}
}

/* 添加商品到购物车后的弹出框样式，分辨率最少需要320 */
.product-added-to-cart-dialog {
	position: fixed;
	width: 320px;
	height: 170px;
	top: 50%;
	left: 50%;
	margin: -85px 0px 0px -160px;
	z-index: 10000;

	.contents {
		.cart-icon {
			float: left;
			margin: 20px 0px 0px 30px;

			> i {
				font-size: 40px;
				line-height: 40px;
			}
		}

		.description {
			float: left;
			margin: 15px 0px 0px 30px;

			> span {
				display: block;
				margin: 0px 0px 5px 0px;
			}

			em {
				color: #B60707;
				font-size: 14px;
				font-style: normal;
			}
		}

		.btn-goto-cart > a {
			width: 300px;
			height: 30px;
			display: block;
			line-height: 30px;
			position: absolute;
			top: 130px;
			left: 10px;
		}
	}
}

/* 商品不能购买时的消息 */
.product-unpurchasable-message {
	clear: both;
	padding: 12px 0px 0px 32px;

	.message {
		width: 300px;
		height: 40px;
		line-height: 40px;
		background-color: #eee;
		color: #666;
		border: 1px solid #666;
		text-align: center;
		font-size: 16px;
	}
}

/* 低分辨率时减少边距 */
@media (max-width: 768px) {
	.product-purchase-buttons, .product-unpurchasable-message {
		padding: 12px 0px 0px 12px;
	}
}
