.order-rate-form {
	.form-horizontal {
		margin: 0px;
	}

	.order-product-rate-container {
		.order-product-rate-box {
			.order-product-image {
				img {
					width: 100%;
					height: auto;
					max-width: 200px;
					max-height: 200px;
				}
			}

			.rate.radio-list {
				.radio-inline {
					i {
						font-size: 14px;
						margin: 0px 3px 0px 0px;
					}
				}
			}

			.comment {
				margin: 3px 0px 0px 0px;
			}

			.photos {
				.text {
					margin: 3px 0px;
				}
			}
		}
	}
	/* http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css */
	.rating {
		float: left;
	}
	/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
       follow these rules. Every browser that supports :checked also supports :not(), so
       it doesn’t make the test unnecessarily selective */
	.rating:not(:checked) > input {
		/*position: absolute;
		top: -9999px;
		clip: rect(0,0,0,0);*/
		display: none;
	}

	.rating:not(:checked) > label {
		float: right;
		width: 1em;
		padding: 0 .1em;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		font-size: 200%;
		line-height: 1.2;
		color: #ddd;
		text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
		padding-left: 0px !important;
		margin-left: 10px !important;
	}

	.rating:not(:checked) > label:before {
		content: '★ ';
	}

	.rating > input:checked ~ label {
		color: #e40;
		text-shadow: 1px 1px #d30, 2px 2px #840, .1em .1em .2em rgba(0,0,0,.5);
	}

	.rating:not(:checked) > label:hover,
	.rating:not(:checked) > label:hover ~ label {
		color: gold;
		text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
	}

	.rating > input:checked + label:hover,
	.rating > input:checked + label:hover ~ label,
	.rating > input:checked ~ label:hover,
	.rating > input:checked ~ label:hover ~ label,
	.rating > label:hover ~ input:checked ~ label {
		color: #ea0;
		text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
	}

	.rating > label:active {
		position: relative;
	}
}
