{% if menuItems.size <= 0 %}
<div id="{{ id }}" class="ajax-table" ajax-table-target="{{ target }}" ajax-table-template="{{ template }}"></div>
{% else %}
<div id="{{ id }}" class="ajax-table" ajax-table-target="{{ target }}" ajax-table-template="{{ template }}"
	 data-toggle="context" data-target="#{{ menuId }}"></div>
<div id="{{ menuId }}" class="ajax-table-menu" ajax-table="#{{ id }}">
	<ul class="dropdown-menu" role="menu">
		{% for item in menuItems %}
		{{ item }}
		{% endfor %}
	</ul>
</div>
{% endif %}
