{% fetch /api/user/login_info > login_info %}
<div class="user-login-info">
	{% if login_info.userId %}
	<div>
		{{ "Welcome to " | trans }}{% website_name %}
		<a class="nav-link" href="{{ "/home" | url }}">{{ login_info.username }}</a> |
		<a class="nav-link" post-href="/user/logout">{{ "Logout" | trans }}</a>
	</div>
	{% else %}
	<div>
		{{ "Welcome to " | trans }}{% website_name %} |
		<a class="nav-link" href="{{ "/user/login" | url }}">{{ "Login" | trans }}</a>
		<a class="nav-link" href="{{ "/user/reg" | url }}">{{ "Register for free" | trans }}</a>
	</div>
	{% endif %}
</div>
