{% fetch /api/article/class_tree > article_class_tree %}
<div class="portlet">
	<div class="portlet-title">
		<div class="caption">
			<a href="/article/list"><i class="fa fa-list"></i>&nbsp;{{ "AllArticles" | trans }}</a>
		</div>
	</div>
	<ul class="nav menu_groups_nav">
		{% for classL1 in article_class_tree.tree.Childs %}
		<li>
			<a href="/article/list?class={{ classL1.Value.Id }}">
				<i class="fa fa-list"></i>{{ classL1.Value.Name | trans }}
			</a>
			{% if classL1.Childs.size > 0 %}
			<ul class="nav childs">
				{% for classL2 in classL1.Childs %}
				<li>
					<a href="/article/list?class={{ classL2.Value.Id }}">
						<i class="fa fa-list"></i>{{ classL2.Value.Name | trans }}
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>
