{% include common.admin/header.html %}
{% fetch /api/admin/settings/menu_groups > menu_groups %}
<div class="page-content">
	<div class="panel-sidebar">
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-wrench font-green-sharp"></i>
					<span class="caption-subject font-green-sharp bold uppercase">{{ "Settings" | trans }}</span>
				</div>
			</div>
			{% include common.menu_page_base/menu_groups_nav.html %}
		</div>
	</div>
	<div class="panel-content">
