{% use_title "AdminSettings" -%}
{% include common.admin_settings/header.html %}
<div class="portlet">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject">
				<i class="fa fa-wrench"></i>
				{{ "AdminSettings" | trans }}
			</span>
			<span class="caption-helper"></span>
		</div>
	</div>
	<div class="portlet-body">
		<span>{{ "Please click the option you want to change on sidebar" | trans }}</span>
	</div>
</div>
{% include common.admin_settings/footer.html %}
