.region-editor {
	.form-control {
		width: auto;
		float: left;
	}

	.country-dropdown, .regions-dropdown {
		float: left;
	}

	.loading {
		line-height: 35px;
		margin: 0px 8px;
		font-size: 16px;
	}
}
