{% use_title title -%}
{% for css in includeCss -%}
{% include_css_later css -%}
{% endfor -%}
{% for js in includeJs -%}
{% include_js_later js -%}
{% endfor -%}
{% include common.admin/header.html %}
<div class="portlet-title">
	<div class="caption">
		<i class="{{ extra.iconClass }}"></i>
		<span class="caption-subject">{{ title }}</span>
		<span class="caption-helper"><a href="{{ url }}">{{ "Return To List" | trans }}</a></span>
	</div>
</div>
<div class="portlet-body">
	{{ form }}
</div>
{% include common.admin/footer.html %}
