
/***
Login page
***/

/* bg color */
$bg-color: #364150;

.login, body, html {
	background-color: $bg-color !important;
	height: 100%;
}

.login .logo {
	margin: 0 auto;
	padding: 15px;
	text-align: center;
}

.login .content {
	background-color: #eceef1;
	border-radius: 0 0 7px 7px;
	width: 400px;
	margin: 40px auto 10px auto;
	padding: 30px;
	padding-top: 10px;
	overflow: hidden;
	position: relative;
}

.login .content form,
.login .content form {
	padding: 0px;
	margin: 0px;
}

.login .content .form-control {
	border: none;
	background-color: #dde3ec;
	height: 43px;
	color: #8290a3;
	border: 1px solid #dde3ec;

	&:focus,
	&:active {
		border: 1px solid #c3ccda;
	}
}

.login .content select.form-control {
	padding-left: 9px;
	padding-right: 9px;
}

.login .content .form-actions {
	clear: both;
	border: 0px;
	border-bottom: 1px solid #eee;
	padding: 0px 30px 25px 30px;
	margin-left: -30px;
	margin-right: -30px;
}

.login .content .form-actions .btn-submit {
	margin-top: 1px;
	font-weight: 600;
	padding: 10px 20px !important;
	color: #fff;
	background-color: #45B6AF;
	border-color: #3EA49D;
	margin: 0px;
	width: auto;
}

.login .content .form-actions .btn-default {
	font-weight: 600;
	padding: 10px 25px !important;
	color: #6c7a8d;
	background-color: #ffffff;
	border: none;
}

.login .content .form-actions .btn-default:hover {
	background-color: #fafaff;
	color: #45b6af;
}

.login .content .forget-password {
	display: inline-block;
	float: right;
	font-size: 14px;
	margin-top: 10px;
}

.login .content .check {
	color: #8290a3;
}

.login .content .rememberme {
	margin-left: 8px;
	margin-top: 10px;
}

.login .content .create-account {
	background-color: #6c7a8d;
	border-radius: 0 0 7px 7px;
	margin: 0 -40px -40px;
	padding: 15px 0 17px;
	text-align: center;
}

.login .content .create-account p a {
	color: #c3cedd;
	font-size: 14px;
	font-weight: 600;
}

.login .content .create-account a {
	display: inline-block;
	margin-top: 5px;
}

.login .content h3 {
	color: #4db3a5;
	font-size: 28px;
	font-weight: 400 !important;
	text-align: center;
}

@media (max-width: 440px) {
	.login .logo {
		margin-top: 10px;
	}

	.login .content {
		width: 280px;
		margin-top: 10px;
	}
}

/* 登陆中把按钮设灰 */
.login .content form.loading button[type='submit'] {
	background: grey;
	pointer-events: none;
}

/* 隐藏表单字段文本 */
.login .content form .control-label {
	display: none;
	width: auto;
}

/* 表单控件不适用col-md样式 */
.login .content form .form-controls {
	float: none;
	width: auto;
}

/* 图标居中 */
.login .content form .input-icon > i {
	line-height: 22px;
}

/* 验证码样式 */
.login .content form .input-group-addon {
	background-color: #DDE3EC;
	border-color: #DDE3EC;
	padding: 0px 5px;
}

/* 记住登陆样式 */
.login .content form .rememberLogin {
	float: right;

	.control-label {
		display: block;
		float: left;
		line-height: 24px;
		color: #8290A3;
		margin: 0px 8px 0px 0px;
	}

	.form-controls {
		float: right;
	}
}
