{% fetch /api/product/class_filter_info > class_filter_info %}
<div class="product-filter-by-class nav-group">
	<ul>
		{% for classL1 in class_filter_info.tree.Childs %}
		<li>
			<dl>
				<dt>
					<a class="product-filter" data-filter-key="class" data-filter-value="{{ classL1.Value.Id }}">
						{{ classL1.Value.Name | trans }}
					</a>
				</dt>
				<dd>
					{% for classL2 in classL1.Childs %}
					<a class="product-filter" data-filter-key="class" data-filter-value="{{ classL2.Value.Id }}">
						{{ classL2.Value.Name | trans }}
					</a>
					{% endfor %}
				</dd>
			</dl>
		</li>
		{% endfor %}
	</ul>
</div>
