{% fetch /api/product/matched_data_matchers > product_matched_data_matchers %}
<div class="product-sales-info">
	<div class="product-name">
		{{ product_info.name }}
	</div>
	<div class="product-price">
		<dl>
			<dt>{{ "Price" | trans }}</dt>
			<dd>
				<span class="prefix"></span>
				<span class="price"></span>
				<span class="suffix"></span>
			</dd>
		</dl>
	</div>
	<div class="product-properties">
		<ul>
			{% for field in product_info.salesInfoDisplayFields %}
			<li>
				<dl>
					<dt>{{ field.name }}</dt>
					<dd>{% raw_html field.html %}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="product-estimation">
		<input type="hidden" name="matchedDataJson" value="{{ product_info.matchedDataJson }}" />
		<input type="hidden" value="" data-match-parameter="Properties" />
		{% for function in product_matched_data_matchers %}
		<script type="text/productMatchedDataMatcher" data-body="{{ function }}">
		</script>
		{% endfor %}
		<ul>
			{% for pair in product_info.saleProperties %}
			<li>
				<dl>
					<dt>{{ pair.property.name }}</dt>
					<dd data-property-id="{{ pair.property.id }}">
						{% for value in pair.values %}
						<a title="{{ value.name }}" data-property-value-id="{{ value.id }}">
							{{ value.name }}
						</a>
						{% endfor %}
					</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="clearfix"></div>
</div>
