{% fetch /api/product/class_filter_info > class_filter_info %}
<div class="product-nav-menu">
	<link href="/static/shopping.product.css/product-widgets.css" rel="stylesheet" type="text/css">
	<ul class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-trigger="dropdown" data-hover="dropdown" href="/product/list">{{ "All Classes" | trans }}</a>
			<ul class="dropdown-menu">
				{% for classL1 in class_filter_info.tree.Childs %}
				<li>
					<dl>
						<dt>
							<a href="/product/list?class={{ classL1.Value.Id }}">
								{{ classL1.Value.Name | trans }}
							</a>
						</dt>
						<dd>
							{% for classL2 in classL1.Childs %}
							<a href="/product/list?class={{ classL2.Value.Id }}">
								{{ classL2.Value.Name | trans }}
							</a>
							{% endfor %}
						</dd>
					</dl>
				</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>
