.mobile-body {
	/* 顶部栏 */
	.top-navbar {
		background-color: #387ef5;
		border-top: none;
		border-bottom: 1px solid #0c60ee;
		color: #fff;
		height: 50px;
		box-shadow: none;
		height: 50px;
		width: 100%;
		box-shadow: none;
		position: fixed;
		padding: 0px;
		z-index: 1011;
		display: flex;
		flex-direction: row;
		/* 后退按钮 */
		.go-back {
			line-height: 48px;
			color: #fff;
			font-size: 28px;
			padding: 0px 15px;
			height: 50px;
			display: block;
		}
		/* 标题 */
		.title {
			text-align: center;
			line-height: 50px;
			font-size: 18px;
			width: 0px;
			flex: 1 0 auto;
			overflow: hidden;
		}
		/* 菜单按钮 */
		.sidebar-menu {
			line-height: 50px;
			color: #fff;
			font-size: 20px;
			padding: 0px 15px;
			height: 50px;
			display: block;
		}
	}
	/* 顶部栏占位 */
	.top-navbar-placeholder {
		height: 50px;
	}
	/* 侧边栏 */
	.top-sidebar {
		margin-top: 50px;
		padding: 0px;
		background-color: #fff;
		border-left: 1px solid #ddd;
		color: #666;

		.left-part, .right-part {
			li {
				list-style: none;
			}

			a.nav-link {
				display: block;
				text-align: center;
				width: 100%;
				font-size: 16px;
				line-height: 38px;
				border-bottom: 1px solid #ddd;
				color: #666;
			}
		}
		/* 用户登录信息 */
		.user-login-info {
			font-size: 16px;
			line-height: 30px;

			.welcome-to {
				display: block;
				text-align: center;
				line-height: 38px;
				border-bottom: 1px solid #0c60ee;
				background-color: #387ef5;
				color: #fff;
			}

			.divider {
				display: none;
			}
		}
	}
	/* 底部栏无上边距 */
	.page-footer {
		padding: 0px;
	}
	/* 底部栏 */
	.bottom-navbar {
		background-color: #387ef5;
		border-top: 1px solid #0c60ee;
		border-bottom: none;
		color: #fff;
		height: 50px;
		width: 100%;
		position: fixed;
		z-index: 1011;
		bottom: 0px;
		/* 底部导航链接 */
		ul.nav {
			text-align: center;
			display: flex;

			> li {
				flex-basis: 0;
				flex-grow: 1;
				flex-shrink: 1;

				> a {
					color: #fff;
					padding: 0px;

					> i {
						font-size: 26px;
						padding: 3px 0px;
						width: 100%;
					}

					&:active, &:hover, &:focus {
						background: initial;
					}
				}
			}
		}
	}
	/* 底部栏占位 */
	.bottom-nav-bar-placeholder {
		height: 50px;
	}
	/* 页面载入中效果 */
	&.pace-running .page-body {
		display: none;
	}

	&.pace-done .page-body {
		display: block;
	}

	.pace .pace-progress::before {
		padding: 5px 7px;
		margin: 17px 0 0 25px;
		background: #fff;
		color: #2299dd;
	}
	/* 页面无边框 */
	.page-container {
		> .portlet {
			padding: 0px;
		}
	}
	/* 表单无边距 */
	.form-horizontal {
		margin: 0px;
	}
	/* 面板无边距 */
	.panel.panel-themed {
		margin: 0px;
	}
}
