{% if cart_info.anyRealProducts %}
{% for logisticsWithSeller in cart_info.logisticsWithSellers %}
<div class="logistics-select" data-seller-id="{{ logisticsWithSeller.sellerId }}">
	<div class="form-horizontal">
		<div class="form-body">
			<div class="form-group">
				<label class="control-label">
					{% if logisticsWithSeller.seller %}
					{{ "Logistics([0]):" | trans | format: logisticsWithSeller.seller }}
					{% else %}
					{{ "Logistics:" | trans }}
					{% endif %}
				</label>
				<div class="form-controls">
					<div class="radio-list">
						{% for logistics in logisticsWithSeller.logisticsList %}
						<label class="radio-inline">
							<input name="logistics_{{ logisticsWithSeller.sellerId }}" type="radio" value="{{ logistics.Id }}" />
							{{ logistics.Name | trans }}
						</label>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endfor %}
<input type="hidden" name="sellerToLogistics" data-order-parameter="SellerToLogistics" />
{% endif %}
