<ul class="nav menu_groups_nav">
	{% for group in menu_groups %}
	<li>
		{% capture elemId %}collapse{{ group.Name | replace: " " }}{% endcapture %}
		<a data-toggle="collapse" href="#{{ elemId }}">
			<i class="{{ group.IconClass }}"></i>{{ group.Name | trans }}
		</a>
		<ul id="{{ elemId }}" class="nav childs collapse">
			{% for item in group.Items %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
	{% include_js "/static/common.menu_page_base.js/menu_groups_nav.min.js" %}
</ul>