<div class="order-action-modal order-confirm-form">
	<p><b>{{ "Thank you! Before you confirm receipt" | trans }}</b></p>
	<ul>
		<li>{{ "Make sure you have received all the goods" | trans }}</li>
		<li>{{ "Confirm receipt of the goods in good condition and meet your requirements" | trans }}</li>
		<li>{{ "If you are using a secured transaction payment, you will also need to go to the payment platform (such as Alipay) to confirm receipt" | trans }}</li>
	</ul>
	<p><b>{{ "Thank you for your presence, welcome to buy our products again!" | trans }}</b></p>
	{{ form }}
</div>
