<div class="index-help">
	<h4>Welcome to use zkweb framework.</h4>
	<h5>Github: <a href="https://github.com/zkweb-framework" target="_blank">https://github.com/zkweb-framework</a></h5>
	<h5>Document: <a href="https://zkweb-framework.github.io" target="_blank">https://zkweb-framework.github.io</a> (chinese)</h5>
	<br />
	<h4>You're visiting the default index page, there severals way to change contents on this page:</h4>
	<ul>
		<li><h5>Use <a href="https://zkweb-framework.github.io/cn/site/core/controller/#_8" target="_blank">template overriding</a>, override "common.base/index.html"</h5></li>
		<li><h5>Use <a href="https://zkweb-framework.github.io/cn/site/core/controller/#_9" target="_blank">dynamic contents</a>, register widgets to areas under this page</h5></li>
	</ul>
	<br />
</div>
