<div class="product-album-uploader">
	<img src="{{ image_url }}">
	<label class="radio">
		<input name="{{ prefix }}_MainImageIndex" value="{{ index }}" type="radio" {%if is_main_image %} checked="checked" {%endif%}>
		{{ "As Main Image" | trans }}
	</label>
	<div class="form-group">
		<label class="control-label"> </label>
		<div class="form-controls file-uploader">
			<input data-val="true" name="{{ prefix }}_Image_{{ index }}" value="" type="file">
			<a onclick="$(this).prev().val(null)">{{ "Clear" | trans }}</a>
			<label class="checkbox-inline">
				<input name="{{ prefix }}_DeleteImage_{{ index }}" value="true" type="checkbox">{{ "Delete" | trans }}
			</label>
		</div>
	</div>
</div>
