/* 商品详情页的样式 */
.product-view {
	/* 商品简介行的样式 */
	.product-summary-row {
		border: 1px solid #DDD;
		margin: 20px 4px 0px 4px;
		padding: 20px;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		/* 下属区域样式 */
		> .template_area {
			float: left;

			&[area_id=product_sales_info] {
				flex-grow: 1;
			}
		}
		/* 商品相册的样式 */
		.product-gallery {
			/* 主图 */
			.main-image img {
				width: 420px;
				height: 420px;
			}
			/* 主图 低分辨率时自适应 */
			@media (max-width: 480px) {
				.main-image img {
					width: 100%;
					height: auto;
				}
			}
			/* 图片列表 */
			.images ul {
				text-align: center;
				overflow: hidden;
				padding: 0px;

				li {
					display: inline-block;
					list-style: none outside none;
					margin: 22px 16px 0px 0px; /* 在这里加上边距的原因是支持可以多行 */
					img {
						max-height: 60px;
						max-width: 60px;
					}
				}
			}
		}
		/* 商品销售信息的样式 */
		.product-sales-info {
			margin-left: 20px;
			width: 90%;
			min-width: 300px;
			/* 商品名称 */
			.product-name {
				font-size: 18px;
				font-weight: bold;
				color: red;
				margin-bottom: 18px;
			}
			/* 价格 */
			.product-price {
				height: 33px;
				border-bottom: 1px dotted #C9C9C9;

				.prefix, .suffix, .price {
					font-size: 18px;
					color: red;
				}
			}
			/* 显示字段 */
			.product-properties > ul {
				padding-left: 0px;

				> li {
					height: 33px;
					margin: 5px 0px;
					list-style: none outside none;
					border-bottom: 1px dotted #C9C9C9;
				}
			}
			/* 共通的dl样式 */
			dl {
				margin: 0px;

				dt, dd {
					float: left;
					line-height: 33px;
				}

				dt {
					width: 100px;
					height: 30px;
					margin: 0px 10px;
					color: #999;
					font-weight: normal;
					white-space: pre;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			/* 规格和数量选择 */
			.product-estimation > ul {
				padding-left: 0px;
				margin-top: 20px;
				/* 规格，高度由规格值行数决定 */
				> li {
					margin: 5px 0px;
					list-style: none outside none;
					clear: both;
				}
				/* 支持换行时的对齐（低分辨率下不适用） */
				dd {
					max-width: 420px;
				}
				/* 规格值选择 */
				dd > a {
					height: 30px;
					line-height: 25px;
					border: 1px solid #D5D5D5;
					padding: 0px 10px;
					margin: 0px 5px 8px;
					display: block;
					float: left;
					text-decoration: none;
					color: #666;
					/* 鼠标悬浮时 */
					&:hover {
						color: #c40000;
					}
					/* 选中时 */
					&.selected {
						border: 2px solid #C00;
					}
				}
			}
			/* 警告消息的样式 */
			> .alert {
				clear: both;
				margin: 0px 0px 0px 10px;
			}
		}
		/* 商品销售信息的样式 低分辨率时自适应 */
		@media (max-width: 768px) {
			.product-sales-info {
				width: 100%;
				min-width: 100%;
				margin: 20px 0px 0px 0px;
			}
		}
		/* 订购数量 */
		.order-count {
			padding: 3px 0px 0px 0px;

			.number-input {
				float: left;
				margin: 0px 15px 0px 5px;
			}
		}
	}
	/* 商品介绍行的样式 */
	.product-details-row {
		border: 1px solid #DDD;
		margin: 20px 4px 0px 4px;
		overflow-x: auto;
		/* 商品介绍的样式 */
		.product-details {
			.contents {
				padding: 20px;
			}

			.nav.nav-tabs {
				margin: -1px 0px 0px -1px;
			}
		}
	}
}

/* 手机版限制图片宽度 */
.mobile-body {
	.product-view {
		.product-details .contents {
			img {
				max-width: 100% !important;
				height: auto !important;
			}
		}
	}
}

/* 放大镜的样式 */
.zoomContainer {
	overflow: hidden;
}
