<div class="tabbable-line">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tab_product_introduction" data-toggle="tab" aria-expanded="true">{{ "ProductIntroduction" | trans }}</a>
		</li>
		<li>
			<a href="#tab_product_properties" data-toggle="tab">{{ "ProductProperties" | trans }}</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="tab_product_introduction" class="tab-pane active">
			<div class="contents">{% raw_html product_info.introduction %}</div>
		</div>
		<div id="tab_product_properties" class="tab-pane">
			<div class="contents">properties</div>
		</div>
	</div>
</div>
