{% fetch /api/product/class_filter_info > class_filter_info %}
<div class="product-nav-menu">
	{% include_css_here "/static/shopping.product.css/product-widgets.css" %}
	<ul class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-trigger="dropdown" data-hover="dropdown" href="{{ "/product/list" | url }}">{{ "All Products" | trans }}</a>
			<ul class="dropdown-menu">
				{% for classL1 in class_filter_info.tree.Childs %}
				<li>
					<dl>
						<dt>
							<a href="{{ "/product/list?class=[0]" | format: classL1.Value.Id | url }}">
								{{ classL1.Value.Name | trans }}
							</a>
						</dt>
						<dd>
							{% for classL2 in classL1.Childs %}
							<a href="{{ "/product/list?class=[0]" | format: classL2.Value.Id | url }}">
								{{ classL2.Value.Name | trans }}
							</a>
							{% endfor %}
						</dd>
					</dl>
				</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>
