{% fetch /api/product/sort_info > sort_info %}
<div class="product-filter-by-price-and-order nav-group">
	<div class="nav">
		{% assign base_url = "" | url_remove_param: "page" %}
		{% assign request_order = base_url | url_get_param: "order" %}
		{% for sort_order in sort_info.sort_orders %}
		{% assign title = sort_order.name | trans %}
		{% if request_order == sort_order.value %}
		<a class="selected" href="{{ base_url | url_remove_param: "order" | url }}" title="{{ title }}">{{ title }}<i class="fa fa-remove"></i></a>
		{% else %}
		<a href="{{ base_url | url_set_param: "order", sort_order.value | url }}" title="{{ title }}">{{ title }}</a>
		{% endif %}
		{% endfor %}
		<input class="form-control price-lower-bound" value="0" />
		<span>&nbsp;~&nbsp;</span>
		<input class="form-control price-upper-bound" value="0" />
		<a class="price-filter" data-value="{{ base_url | url_get_param: "price_range" }}">{{ "FilterByPrice" | trans }}</a>
		<a class="price-filter-cancel hide" href="{{ base_url | url_remove_param: "price_range" | url }}">{{ "Cancel" | trans }}</a>
	</div>
</div>
