<!DOCTYPE html>
<html lang="{% html_lang %}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta charset="utf-8" />
	<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
	<title>{{ "Admin Login" | website_title }}</title>
	<link href="/static/common.base.css/components.css" rel="stylesheet" type="text/css" />
	<link href="/static/common.admin.css/components.css" rel="stylesheet" type="text/css" />
	<link href="/static/common.admin.css/admin-login.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="page-top admin-page-top">
	</div>
	<div class="login">
		<div class="logo"><a><img src="/static/common.admin.images/logo.png" alt=""></a></div>
		<div class="content">
			<form action="/admin/login" class="login-form" id="Common_AdminLoginFrom" method="post" role="form">
				<input name="__RequestVerificationToken" type="hidden" value="jUM-wPKvLeTYQlQ_Z-qotDMveMQ4nH4uyRl6ktCUcWyHNa58ehB2IdSdEkScT9ipgKwo5lOSzmYRpLyNRbr0EXGNNepgzk2MHwem_jY6bEs1" />			<h3 class="form-title">Admin login</h3>
				<div class="form-group input-icon">
					<i class="fa fa-user"></i>
					<input class="form-control form-control-solid placeholder-no-fix9" data-val="true" data-val-length="Length of Username must between 3 and 100" data-val-length-max="100" data-val-length-min="3" data-val-required="Username is required" id="Username" name="Username" placeholder="Please enter username" type="text" value="" />
					<span class="field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
				</div>
				<div class="form-group input-icon">
					<i class="fa fa-lock"></i>
					<input class="form-control form-control-solid placeholder-no-fix" data-val="true" data-val-length="Length of Password must between 5 and 100" data-val-length-max="100" data-val-length-min="5" data-val-required="Password is required" id="Password" name="Password" placeholder="Please enter password" type="password" />
					<span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
				</div>
				<div class="form-group input-group input-captcha">
					<input class="form-control form-control-solid placeholder-no-fix" data-val="true" data-val-length="Length of Captcha must be 4" data-val-length-max="4" data-val-length-min="4" data-val-required="Captcha is required" id="Captcha" name="Captcha" placeholder="Please enter captcha" type="text" value="" />
					<span class="input-group-addon">
						<img alt="" class="captcha" onclick="$(this).refreshImage()" src="/captcha/common.admin/adminlogin?timestamp=1450326094162" title="Click to change captcha image" />
					</span>
					<span class="field-validation-valid" data-valmsg-for="Captcha" data-valmsg-replace="true"></span>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-success uppercase">Login</button>
					<input data-val="true" data-val-required="Remember login is required" id="RememberLogin" name="RememberLogin" type="checkbox" value="true" /><input name="RememberLogin" type="hidden" value="false" />
					<label class="rememberme check" for="RememberLogin">Remember login</label>
				</div>
				<div class="create-account">
					<p>
						<a href="/user/reg" id="register-btn" class="uppercase">Register new user</a>
					</p>
				</div>
			</form>
		</div>
	</div>
	<input id="RedirectAfterLogin" name="RedirectAfterLogin" type="hidden" value="/admin" />
	<div class="page-bottom admin-page-bottom">
	</div>
	<footer>
		<script src="/static/common.base.js/components.min.js" type="text/javascript"></script>
		<script src="/static/common.admin.js/components.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		$(function () {
			var $form = $("#Common_AdminLoginFrom");
			$form.commonAjaxForm(function (data) {
				if (data.success) {
					(function () { location.href = $('[name="RedirectAfterLogin"]').val(); }).call($form);
				} else {
					(function () {; }).call($form);
				}
				$.toastAjaxResult(data);
			});
		});
		</script>
	</footer>
</body>
</html>
