{% use_title "HomePage" -%}
{% include common.base/header.html %}
<div class="page-container index-page-container screen-center-block">
	<div class="index-top-area-1">{% area index_top_area_1 %}</div>
	<div class="index-top-area-2">{% area index_top_area_2 %}</div>
	<div class="index-top-area-3">{% area index_top_area_3 %}</div>
	<div class="index-inner-area">
		<div class="index-inner-leftbar pull-left">{% area index_inner_leftbar %}</div>
		<div class="index-inner-middle">{% area index_inner_middle %}</div>
		<div class="index-inner-rightbar pull-right">{% area index_inner_rightbar %}</div>
		<div class="clearfix"></div>
	</div>
	<div class="index-bottom-area-1">{% area index_bottom_area_1 %}</div>
	<div class="index-bottom-area-2">{% area index_bottom_area_2 %}</div>
	<div class="index-bottom-area-3">{% area index_bottom_area_3 %}</div>
</div>
{% include common.base/footer.html %}
