<div class="checkbox-group" data-toggle="checkbox-group">
	<label class="checkbox-inline">
		<input type="checkbox" class="select-all" />
		{{ "Select All" | trans }}
	</label>
	{% for group in groups %}
	<div class="checkbox-group" data-toggle="checkbox-group">
		<label class="checkbox-inline">
			<input type="checkbox" class="select-all" />
			{{ group.key | trans }}
		</label>
		<div class="checkbox-list">
			{% for item in group.items %}
			<label class="checkbox-inline" child-merge-to="{{ fieldName }}" child-value="{{ item.value }}">
				<input type="checkbox" merge-to="input[name='{{ fieldName }}']" value="{{ item.value }}" />
				{{ item.name | trans }}
			</label>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
	{{ fieldHtml }}
</div>
