<div class="visual-editor-top-bar">
	<div class="left-area pull-left">
		<a class="btn btn-flat btn-primary add-element">{{ "AddElement" | trans }}</a>
	</div>
	<div class="right-area pull-right">
		<a class="btn btn-flat btn-danger manage-theme">{{ "ManageTheme" | trans }}</a>
		<a class="btn btn-flat btn-warning switch-page">{{ "SwitchPage" | trans }}</a>
		<a class="btn btn-flat btn-success save-changes disabled">{{ "SaveChanges" | trans }}</a>
	</div>
	<div class="metadata hide">
		<span class="translation"
			  data-original="Make sure you have saved all the changes, otherwise they will be lost."
			  data-translated="{{ "Make sure you have saved all the changes, otherwise they will be lost." | trans }}"></span>
		<span class="translation" data-original="Edit" data-translated="{{ "Edit" | trans }}"></span>
		<span class="translation" data-original="Remove" data-translated="{{ "Remove" | trans }}"></span>
		<span class="translation" data-original="AddElement" data-translated="{{ "AddElement"| trans }}"></span>
		<span class="translation" data-original="Add" data-translated="{{ "Add" | trans }}"></span>
		<span class="translation" data-original="NoDescription" data-translated="{{ "NoDescription" | trans }}"></span>
		{% for group in widgetGroups %}
		<span class="translation"
			  data-original="{{ group.Group }}"
			  data-translated="{{ group.Group | trans }}"></span>
		{% for widget in group.Widgets %}
		<span class="translation"
			  data-original="{{ widget.WidgetInfo.Name }}"
			  data-translated="{{ widget.WidgetInfo.Name | trans }}"></span>
		{% if widget.WidgetInfo.Description %}
		<span class="translation"
			  data-original="{{ widget.WidgetInfo.Description }}"
			  data-translated="{{ widget.WidgetInfo.Description | trans }}"></span>
		{% endif %}
		{% endfor %}
		{% endfor %}
		<span class="widget-groups" data-widget-groups="{{ widgetGroups | json }}"></span>
	</div>
</div>
