<!DOCTYPE html>
<html lang="{% html_lang %}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta charset="utf-8" />
	<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
	{% render_meta_keywords %}
	{% render_meta_description %}
	{%- render_extra_metadata -%}
	{% render_title %}
	{% include_css_here "/static/theme.mobile.frame.css/pace.css" %}
	{% include_js_here "/static/theme.mobile.frame.js/pace.min.js" %}
	{% include_css_here "/static/common.base.css/components.css" %}
	{% include_css_here "/static/theme.mobile.frame.css/components.css" %}
	{% render_included_css -%}
</head>
<body class="mobile-body">
	<div class="page-header">
		<div class="top-navbar">
			<div class="left-part">
				<a class="go-back" onclick="history.back()"><i class="fa fa-angle-left"></i></a>
			</div>
			<div class="title"></div>
			<div class="right-part">
				<a class="sidebar-menu"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="top-navbar-placeholder">
		</div>
		<aside class="control-sidebar control-sidebar-dark top-sidebar">
			<div class="navbar-left">
				{% area header_navbar_left %}
			</div>
			<div class="navbar-right">
				{% area header_navbar_right %}
			</div>
		</aside>
	</div>
	<div class="page-body">
