{% include common.base/header.html %}
{% fetch /api/user/login_info > login_info %}
{% fetch /api/user/panel/menu_groups > menu_groups %}
<div class="page-container user-center-page-container screen-center-block">
	<div class="portlet">
		<div class="page-content">
			<div class="panel-sidebar">
				<div class="portlet">
					<div class="profile-portlet">
						<div class="profile-image">
							<img src="{{ login_info.avatar }}" class="img-responsive" alt="{{ "Avatar" | trans }}">
						</div>
						<div class="profile-title">
							<div class="main-title">{{ login_info.username }}</div>
						</div>
					</div>
					{% include common.menu_page/menu_groups_nav.html %}
				</div>
			</div>
			<div class="panel-content">
